# ======================================================
# PYTHON
# ======================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================================================
# VENV
# ======================================================

venv/
.venv/
env/

# ======================================================
# GIT
# ======================================================

.git/
.gitignore

# ======================================================
# ENV
# ======================================================

.env
.env.*

# ======================================================
# DJANGO
# ======================================================

db.sqlite3

media/
staticfiles/

# ======================================================
# CACHE
# ======================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ======================================================
# IDE
# ======================================================

.vscode/
.idea/

# ======================================================
# OS
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# LOGS
# ======================================================

*.log
logs/

# ======================================================
# TESTS
# ======================================================

htmlcov/
.coverage

# ======================================================
# BUILD
# ======================================================

build/
dist/
*.egg-info/