# ======================================================
# DJANGO CORE
# ======================================================

# Chave secreta do Django
# Gere uma nova em produção
DJANGO_SECRET_KEY=

# Debug (True ou False)
DJANGO_DEBUG=

# Hosts permitidos (separados por vírgula)
# Ex: 127.0.0.1,localhost,meusite.com
DJANGO_ALLOWED_HOSTS=


# ======================================================
# DJANGO SECURITY
# ======================================================

# Origens confiáveis para CSRF (produção)
# Ex: https://meusite.com,https://www.meusite.com
DJANGO_CSRF_TRUSTED_ORIGINS=


# ======================================================
# CACHE / REDIS (PRODUÇÃO)
# ======================================================

# URL do Redis
# Ex: redis://127.0.0.1:6379/1
REDIS_URL=

# Test