# ======================================================
# PYTHON
# ======================================================

__pycache__/
*.py[cod]
*$py.class
*.so

# ======================================================
# VIRTUAL ENVIRONMENTS
# ======================================================

venv/
.venv/
env/

# ======================================================
# DJANGO
# ======================================================

db.sqlite3

media/
staticfiles/

# ======================================================
# ENVIRONMENT VARIABLES
# ======================================================

.env
.env.*
!.env.example

# ======================================================
# DJANGO COLLECTSTATIC
# ======================================================

static/CACHE/

# ======================================================
# LOGS
# ======================================================

*.log
logs/

# ======================================================
# TESTS / COVERAGE
# ======================================================

htmlcov/
.coverage
.pytest_cache/

# ======================================================
# TYPE CHECKING
# ======================================================

.mypy_cache/

# ======================================================
# LINTERS
# ======================================================

.ruff_cache/

# ======================================================
# IDEs
# ======================================================

.vscode/
.idea/

# ======================================================
# OS FILES
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# PYTHON BUILD
# ======================================================

build/
dist/
*.egg-info/

# ======================================================
# DJANGO DEBUG TOOLBAR
# ======================================================

.djdt/

# ======================================================
# BACKUPS
# ======================================================

*.bak
*.backup

# ======================================================
# LOCAL SETTINGS
# ======================================================

local_settings.py


# SSH KEYS
*.pub
id_ed25519
id_ed25519.pub
