:root {
  --color-bg: #ffffff;
  --color-bg-muted: #f9fafb;

  --color-text: #1f2933;
  --color-text-muted: #64748b;

  --color-primary: #2563eb;
  --color-secondary: #1e2023;

  --color-border: #e5e7eb;
}