<div id="mlb2-35107002" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-35107002">
      <div class="ml-form-align-center ">
        <div class="ml-form-embedWrapper embedForm">

          
          

          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">

            <div class="ml-form-embedContent" style=" ">
              
                <h4>Newsletter semanal</h4>
                <p style="text-align: justify;">Conteúdo útil, direto ao ponto e sem enrolação.</p>
              
            </div>

            <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/2004563/forms/175088862988600481/subscribe" data-code="" method="post" target="_blank">
              <div class="ml-form-formContent">
                

                  
                  <div class="ml-form-fieldRow ml-last-item">
                    <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">

                      


                      <!-- input -->
                      <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
                      <!-- /input -->

                      <!-- textarea -->
                      
                      <!-- /textarea -->

                      <!-- select -->
                      
                      <!-- /select -->

                      <!-- checkboxes -->
            
            <!-- /checkboxes -->

                      <!-- radio -->
                      
                      <!-- /radio -->

                      <!-- countries -->
                      
                      <!-- /countries -->





                    </div>
                  </div>
                
              </div>

              

              <!-- Privacy policy -->
              <div class="ml-form-embedPermissions" style="">
                <div class="ml-form-embedPermissionsContent default privacy-policy">

                  

                  <p><strong>Você pode cancelar a inscrição a qualquer momento. Para mais detalhes, consulte nossa <span style="color: rgb(0, 123, 255);"><a href="https://entrebugsesolucoes.com.br/politica-de-privacidade/">Política de Privacidade.<span style="color: rgb(0, 123, 255);"></span></a></span></strong></p>

                  
                </div>
              </div>
              <!-- /Privacy policy -->

              

              

              <div class="ml-form-checkboxRow ml-validate-required">
                
                  <label class="checkbox">
                    <input type="checkbox">
                    <div class="label-description">
                      <p><strong>Aceito receber notícias e atualizações.</strong></p>
                    </div>
                  </label>
                
              </div>






              
              <input type="hidden" name="ml-submit" value="1">

              <div class="ml-form-embedSubmit">
                
                  <button type="submit" class="primary">Inscrever-me gratuitamente</button>
                
                <button disabled="disabled" style="display: none;" type="button" class="loading">
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Loading...</span>
                </button>
              </div>

              
              <input type="hidden" name="anticsrf" value="true">
            </form>
          </div>

          <div class="ml-form-successBody row-success" style="display: none">

            <div class="ml-form-successContent">
              
                <h4>Thank you!</h4>
                
                  <p>You have successfully joined our subscriber list.</p>
                
              
            </div>

          </div>
        </div>
      </div>
    </div>

  

  
  
  <script>
    function ml_webform_success_35107002() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-35107002 .row-success').show();
      $('.ml-subscribe-form-35107002 .row-form').hide();
    }
      </script>
  
  
      <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
        <script>
            fetch("https://assets.mailerlite.com/jsonp/2004563/forms/175088862988600481/takel")
        </script>