{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">

  <title>{% block title %}Entre Bugs e Soluções{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta
    name="description"
    content="{% block meta_description %}Blog sobre programação e soluções reais{% endblock %}"
  >

  {% block extra_head %}{% endblock %}

  <!-- 🔥 PRELOAD DA HERO (LCP) -->
  <link
    rel="preload"
    as="image"
    href="{% static 'img/hero/hero-desktop.png' %}"
    fetchpriority="high"
  >

  <!-- 🎨 CSS PRINCIPAL -->
  <link
    rel="stylesheet"
    href="{% static 'css/style.css' %}"
  >
</head>


<body>

  {% include "includes/cookie_banner.html" %}
  {% include "includes/header.html" %}

  <main id="content">
    {% block content %}{% endblock %}
  </main>

  {% include "includes/footer.html" %}

  <script src="{% static 'js/cookies.js' %}" defer></script>
  <script src="{% static 'js/menu.js' %}" defer></script>

</body>
</html>
